#wrap { width: 100%; min-width: 1600px; }
#header { width: 100%; background: #ccbaff; }
#header .inner { height: 120px; width: 1400px; background: #8ff2ff; margin: auto; }

#visual { width: 100%; height: 800px; background: #ffeaa7;}

#container {}
#content {}

/* index 첫페이지의 페이지명 */
.main {}
/* 공통 */
.main .con-box { width: 100%; }
.main .con-box .inner { width: 1400px; margin: auto; box-sizing: border-box; padding: 100px 0;}
.main .con-box h2 {font-size: 50px; text-align: center; letter-spacing: -0.5px; margin-bottom: 70px; }
.main .con-box h2::after { content:""; display: block; width: 50px; height: 2px; background: #333; margin: auto;  }

.main .con1 {}        
.main .con1 .inner { }
.main .con1 h2 { }
.main .con1 div { }
.main .con1 div article { width: 680px; background: #f4f4f4; padding: 40px; box-sizing: border-box; }
.main .con1 div article:first-child { float: left; }
.main .con1 div article:last-child { float: right; }
.main .con1 div article h3 { font-size: 30px; font-weight: 500; margin-bottom: 20px; }
.main .con1 div article ul { }
.main .con1 div article ul li { padding: 15px 0; border-bottom: 1px dotted #999; overflow: hidden;}
.main .con1 div article ul li:last-child { border-bottom: none; }
.main .con1 div article ul li strong { float: left; display: block; width: 60px; height: 60px; border-radius: 50%; background: #70c2d0; background-position: center; color:#fff; text-align: center; line-height: 1.1; font-size: 14px; padding-top: 14px; box-sizing: border-box; }
.main .con1 div article ul li p { float: right; width: 520px;  }
.main .con1 div article ul li p a { font-size: 20px; line-height: 1.4; }

.main .con2 { background: #fcfcfc}        
.main .con2 .inner { }
.main .con2 h2 { }
.main .con2 .box1 { }
.main .con2 .box1 li { width: 620px; }
.main .con2 .box1 li:first-child { float: left; }
.main .con2 .box1 li:last-child { float: right; }
.main .con2 .box1 li a { }
.main .con2 .box1 li a img { }
.main .con2 .box1 li a strong { display: block; margin-top: 20px; margin-bottom: 20px; font-size: 25px;}
.main .con2 .box1 li a strong span { font-weight: 700; }
.main .con2 .box1 li a p { font-size: 16px; font-weight: 700; background-repeat: no-repeat; background-position: 0 50%; background-image: url(../images/ic_arrow9.png);}
.main .con2 .box1 li:first-child a p { background-position-x: 140px;}
.main .con2 .box1 li:last-child a p {background-position-x: 190px;}

.main .con2 .box2 { width: 100%; height: 180px; background-repeat: no-repeat; background-position: 0 0;background-image: url(../images/bann_main3.png); background-size: cover; margin-top: 60px; margin-bottom: 100px; box-sizing: border-box; padding: 45px 35px;}
.main .con2 .box2 p:first-child{ font-size: 18px; margin-bottom: 20px;  }
.main .con2 .box2 p.more { width: 200px; }
.main .con2 .box2 p.more a  {font-size: 16px; font-weight: 700; background-repeat: no-repeat; background-position: 140px 50%; background-image: url(../images/ic_arrow9.png); display: block; }

.main .con2 h3.title {font-size: 30px; font-weight: 700; }
.main .con2 h3.title em{ display: block; font-size: 16px; }
.main .con2 .box3 { margin-top: 55px; }
.main .con2 .box3 li {  float:left; margin-right: 20px;}
.main .con2 .box3 li:last-child {margin-right: 0px;}
.main .con2 .box3 li a { display: block; width: 335px; }
.main .con2 .box3 li a p {width: 335px;height: 310px; background: #efefef;
border-radius:15px; text-align: center;  }
.main .con2 .box3 li a p img{ width: 80%; margin-top: 20px;}
.main .con2 .box3 li a strong {  }

.main .con3 {background-repeat: no-repeat; background-position: 0 0; 
background-image: url(../images/bg_sec02.jpg);
background-size: cover; background-attachment: fixed; 
border-top:200px}
.main .con3 .inner { height: 500px; padding: 0; padding-top: 35px;overflow: hidden;}
.main .con3 .left { float: left; width: 380px; padding-top: 100px;}
.main .con3 .left strong {font-size: 18px; font-weight: 700; letter-spacing: 2px;}
.main .con3 .left h2 { margin-top: 20px; font-size: 38px; letter-spacing: -0.5px;
text-align:left; font-weight: 500; color: #fff; line-height: 1.4; margin-bottom: 130px;}
.main .con3 .left h2::after {display: none;}
.main .con3 .left p.more {}
.main .con3 .left p.more a {display: block; width: 230px; height: 50px;
border: 1px solid #fff; text-indent: 20px; line-height: 50px; color: #fff;
background-repeat: no-repeat; background-position: 190px 50%; 
background-image: url(../images/bg_btn_arrow_w.png);}

.main .con3 .right {float: right; width: 1000px;}
.main .con3 .right img {width: 100%;}


.main .con4 {}
.main .con4 .inner {}
.main .con4 h2 {margin-bottom: 0; }
.main .con4 h2::after {display: none; }
.main .con4 h2+p {text-align: center; font-size: 18px; margin-bottom: 60px; }
.main .con4 .box {}
.main .con4 .box li {float: left; width: 320px; margin-right: 30px;}
.main .con4 .box li:last-child {margin-right: 0;}
.main .con4 .box li:last-child a {border-radius: 0 0 100px 0; display: block;
overflow: hidden;}
.main .con4 .box li strong {display: block; font-size: 25px; font-weight: 500; 
color: tomato; margin: 20px 0;}
.main .con4 .box li p {font-size: 15px; letter-spacing: -0.5px;}

.main .con5 {padding-top: 350px;}
.main .con5 .inner {height:200px;}
.main .con5 h2 {    margin-top: 100px;
    font-size: 30px;}
.main .con5 div {}
.main .con5 div article {width: 655px; box-sizing: border-box; padding-right: 100px; padding-bottom: 50px; }
.main .con5 div article:first-child {float: left;}
.main .con5 div article:last-child {float: right;}
.main .con5 div article h3 {font-size: 35px; font-weight: 500; margin: 50px 0 35px 0;}
.main .con5 div article ul {}
.main .con5 div article ul li {padding: 22px; border-bottom: 1px solid #999; overflow: hidden;}
.main .con5 div article ul li:first-child {border-top: 3px solid #000;}
.main .con5 div article ul li strong {font-size: 14px; width: 60px; float: left; 
    height: 35px; border-radius: 50px; display: block;  text-align: center;
background: #285f74; color:#fff; line-height: 1.1;
padding-top: 10px; text-align: center; box-sizing: border-box; }
.main .con5 div article ul li a {padding: 25px;}
.main .con5 div article ul li a p {font-size: 20px; font-weight: 500; padding-left: 25px; 
box-sizing: border-box; overflow: hidden; text-overflow: ellipsis;}
.main .con5 div article ul li a span {font-size: 12px; display: block; padding-left: 85px; padding-top: 15px; color: #888;}
.main .con5 div article:last-child ul li a span {padding-left: 25px;}


#footer { width: 100%; }
#footer .inner { width: 1400px; height: 250px; margin: auto; }

